<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>認識Vue</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <style>
        * {
            margin-top: 20px;
        }
        .basic{
				width: 200px;
				height: 100px;
				border: 1px solid black;
			}
			
			.happy{
				border: 4px solid red;;
				background-color: rgba(255, 255, 0, 0.644);
				background: linear-gradient(30deg,yellow,pink,orange,yellow);
			}
			.sad{
				border: 4px dashed rgb(2, 197, 2);
				background-color: gray;
			}
			.normal{
				background-color: skyblue;
			}

			.atguigu1{
				background-color: yellowgreen;
			}
			.atguigu2{
				font-size: 30px;
				text-shadow:2px 2px 10px red;
			}
			.atguigu3{
				border-radius: 20px;
			}
    </style>
</head>

<body>
    <!-- 容器 -->
    <div id="root">
        <!-- 模板語法 -->
        <h2>插植語法</h2>
        <h3>你好， {{name}}</h3>
        <h2>指令語法</h2>
        <!-- <a v-bind:href="url">筆記</a> -->
        <a :href="url"> 筆記(v-bind)</a><br />
        <!-- 數據綁定 -->
        <!-- 單向數據綁定: <input type="text" v-bind:value="name"><br/>
            雙向數據綁定: <input type="text" v-model:value="name"><br/> -->
        <!-- 簡寫 -->
        單向數據綁定: <input type="text" :value="name"><br />
        雙向數據綁定: <input type="text" v-model="name"><br />
        <!-- 測試vm，vm上有的都可以直接使用
        <p>vm測試1 {{$options}}</p>
        <p>vm測試2 {{_data}}</p> -->
        <!-- 事件處理 -->
        <h2>事件處理</h2>
        <!-- <button v-on:click="showInfo">看看</button> -->
        <button @click="showInfo1">不傳參數</button>
        <button @click="showInfo2(1, $event)">傳參數</button>
        <a href="https://www.ntnu.edu.tw" @click.prevent="showInfo">123</a><br />
        <!-- <input type="text" placeholder="鍵盤事件" @keydown.huiche="showInfo3"> -->
        <input type="text" placeholder="案Enter送出" @keyup.enter="showInfo3"><br />
        <!-- 計算屬性 -->
        姓：<input type="text" v-model="firstName"><br />
        名：<input type="text" v-model="lastName"> <br />
        <!-- 全名：<span>{{fullName()}}</span> -->
        <!-- 監視屬性 -->
        <h2>今天天氣很{{info}}</h2>
        <button @click="changeWeather">切換天氣</button><br/>
        <p>a = {{number.a}} b = {{number.b}}</p>
        <button @click="number.a++">a++</button>
        <button @click="number.b++">b++</button>
        <!-- 綁定class樣式 -->
        <div class="basic" :class="mood" @click="changeMood">(綁定class樣式) {{name}}</div><br/>

    </div>
    <div id="test">
        <h3>你好， {{name}}</h3>
    </div>

    <script type="text/javascript">
        Vue.config.productionTip = false

        // 創建Vue實例
        //el的兩種寫法
        const vm = new Vue({
            el: "#root", //el用於指令當前Vue實例為哪個容易服務，值通常為CSS選擇器字符串
            //data的第一種寫法：對象式
            data: {
                name: '回憶',
                url: "https://www.notion.so/329dfe1cce4d4abf81f70652b8781135",
                firstName: '早',
                lastName: '安',
                isHot: true,
                number:{
                    a:1,
                    b:1
                },
                mood:'normal',
            },
            computed: {
                info() {
                    return this.isHot ? 'Hot' : 'Cold'
                }
            },
            methods: {
                showInfo(e) {
                    // e.preventDefault() //阻止默認行為
                    alert('HI')
                },
                showInfo1(event) {
                    alert('HI')
                },
                showInfo2(number, event) {
                    console.log(number, event)
                },
                showInfo3(e) {
                    // console.log(e.key, e.keycode)
                    console.log(e.target.value)
                },
                /*fullName(){
                    return this.firstName + '-' + this.lastName
                },*/
                changeWeather(){
					this.isHot = !this.isHot
				},
                changeMood(){
                    const arr = ['happy', 'sad', 'normal']
                    const index = Math.floor(Math.random()*3)
                    this.mood = arr[index]
                }
            },
            watch:{
                isHot:{
                    immediate:true,
                    handler(newValue,oldValue){
                        console.log('123', newValue,oldValue)
                    }
                },
                number:{
                    deep:true,
                    handler(){
                        console.log('number++')
                    }
                }
            }
        })

        const v = new Vue({
            // el:"#test",
            //data的第二種寫法：函數式
            data: function () {
                console.log('@@@', this) //this是Vue實例對象
                return {
                    name: '回憶'
                }
            }
        })
        console.log(v)
        v.$mount('#test') //第二種寫法

    </script>
</body>

</html>